/* Add CSS Styling */

.nb1,.nb3,.nb5,.nb3{
    background-color: #FFB6C1;
    font-family: "Verdana","DejaVu Sans","sans-serif";
}

#nb2{
    color:rgb(0,0,255);
    font-size: 36px;
}

.nb3{
    font-size:24px;
}

#nb4{
    background-color: #90ee90;
    font-size:24px;
    font-weight:bold;
}